/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 @font-face {
    font-family: Senegolly;
    src: url('../fonts/Senegolly.ttf');
}

.fg-welcome p {
    font-size: 14px;
}

.fg-welcome p > span{
    font-size: 17px;
    font-weight: 600;
}

.fg-main{
    margin-right: 21px;
    display: flex;
    margin-top: 36px;
    flex-direction: column;
}

.fg-title-feedsgram {
    margin: 24px 0px 51px 41px;
    font-size: 47px;
    font-family: Senegolly;
}

.fg-welcome{
    width: 88%;
    margin: 0 auto;
    background-color: #fff;
    padding: 32px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.fg-blocks{
    display: flex;
    width: 100%;
    justify-content: center;
}

.fg-blocks > div {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.fg-blocks label{
    font-weight: 500;
    margin: 8px 0 7px 0;
}

.fg-blocks input,
.fg-blocks select{
    width: 75%;
    margin-bottom: 10px;
}

.fg-blocks h4{
    font-size: 1.3em;
    margin: 1.2em 0;
}

.fg-form-post button {
    background-color: #3897f0;
    border: 1px solid #3897f0;
    font-size: 16px;
    right: 30px;
    position: relative;
    border-radius: 4px;
    padding: 8px 25px 8px 25px;
    color: #fff;
    left: 85%;
    transition-duration: 300ms;
    cursor: pointer;
}

.fg-form-post button:hover {
    transition-duration: 300ms;
    background-color: #255f96;
}